/*General*/
body {
	margin:0px auto;
}
p {
	font-size: 1em;
}

.new {
	width: 200px;
}
.navbar {
	padding: 10px;
	width: 100%;
	height: 80px;
	background-color: lightgrey;
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
}
.nav {
	margin-left: 300px;
	position: relative;
}
.navbar img {
	height: 50px;
}
.nav a {
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 50px;
}
.nav a:last-child {
	margin-right: 0px;
}
.nav a:hover {
	font-weight: bold;
}
.cover_image {
	margin-top: 80px;
}

.cover_image img{
	width: 100%;
}
.about_section {
	padding: 20px;
}

.about_section h3{
	font-size: 5vw;
	text-align: center;
	letter-spacing: 5px;

}

.about_section p {
	text-align: justify;
	line-height: 20px;
	word-spacing: 10px;
}